/* 行間の崩れないルビ */
ruby {
	position: relative;
	text-align: center;
}

rt {
	display: none;
}

.amp rt {
	display: block;
}

.editor-rich-text rt {
	display: block;
}

.thx_yomi {
	-webkit-user-select: none;
	user-select: none;
	position: absolute;
	display: inline-flex;
	justify-content: space-between;
	left: 0.25em;
	right: 0.25em;
	line-height: 1em;
}

.thx_yomi span {
	transform: scale(0.5, 0.5);
	transform-origin: top left;
	width: 0.5em;
}

.thx_yomi_long {
	left: 0px;
	right: 0px;
}

.thx_quo_spc {
	-webkit-user-select: none;
	user-select: none;
}
